<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weather app</title>
  <style>
    
  </style>
</head>

<body>
  <div class="main">
    <h1>Insert your location:</h1>

    <form class="form">
      <label for="location">Location:</label>
      <input name="location" />
      <input type="submit" value="Show me the weather" class="button" >
    </form>
    <div class="response">
      <h1>The weather for location: <%= @location %>.</h1>
      <p>Minimum temperature: <%= @data['min_temperature'] %> C</p>
      <p>Maximum temperature: <%= @data['max_temperature'] %> C</p>
      <p>Rain: <%= @data['rain'] %> mm</p>
    </div>
  </div>
</body>
</html>