<div class = "col-sm-10 form-group-lg">
  <h1>All Posts</h1>
  <table>

  <% @posts.each do |post|%>
    <tr>
      <td> <b>Title:</b> <%= post.title %> </td>
      <td> <b>Content:</b> <%= post.content %> </td>
  </tr>
  <% end %>
  </table>
  <div class ="main_links" > 
    <%= link_to 'My posts', profile_path%>
    <%= link_to 'New', new_post_path %>
  </div>
<div>
