<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weather App</title>
</head>

<body>
  <div class="main">
    <h1>Check Your Weather</h1>

    <%# <form class="form">
      <label for="gif_category">Find your gif</label>
      <input name="gif_category" />
      <input type="submit" value="Submit" class="button" >
    </form> %>
    <div class="response">
      <%= @weather %>
    </div>
  </div>
</body>
</html>
