<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nokia Texter</title>
</head>

<body>
  <div class="main">
    <h1>Nokia Texter</h1>

    <form>
      <input name="text"/>
      <input type="submit" value="Submit" class="button">
    </form>

    <div class="response">
      <%= @name %>
    </div>
  </div>
</body>
</html>
