<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nokia Texter</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="main">
    <img class="logo" src="logo.png" width="1200" height="100">
    <h1>Shorten your text message</h1>

    <form>
      <input name="text"/>
      <input type="submit" value="Submit" class="button">
    </form>

    <div class="response">
      <%= @nokia_text %>
    </div>
  </div>
</body>
</html>
